.link {
    --color: var(--ion-color-light);
}

.active-link {
    --color: var(--ion-color-light);
}

ion-menu-button {
    color: var(--ion-color-light);

}

ion-toolbar {
    --background: transparent;
}