.navButton {
    font-size: 1.2em;
    font-family: "Quando";
}

.logo {
    max-height: 80px;
}

.link {
    --color: var(--ion-color-light);
}

.active-link {
    --color: var(--ion-color-light);
}

ion-menu-button {
    color: var(--ion-color-light);

}

ion-toolbar {
    --background: transparent;
}