<ion-app>
  <ion-menu *ngIf="!platform.is('desktop')" contentId="mainContent" side="start" type="overlay">
    <ion-header class="ion-no-border">
      <div class="ion-text-center">
        <img src="/assets/icon/logo-black.svg" class="logo">
      </div>

    </ion-header>
    <ion-content>
      <ion-list [inset]="true">
        <ion-item *ngFor="let page of menu.pages" detail="false">

          <ion-button [fill]="'clear'" [routerLink]="page.link" routerDirection="root" routerLinkActive="active-link"
            class="link menuButton">
            {{page.name}}
          </ion-button>

        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>
