.menuButton {
    font-size: 1em;
    font-family: "Quando";
}

.logo {
    max-height: 150px;
    padding: 5%;
}

.link {
    --color: var(--ion-color-dark);
}

.active-link {
    --color: var(--ion-color-dark);
}